
<nav class="navbar navbar-expand navbar-light bg-light">


    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >Recipe Book</a>


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        
            <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/recipes']">
                Recipes
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/shopping-list']">
                Shopping List
              </a>
            </li>
          </ul>
            
            <ul class="navbar-nav">
              <ng-template [ngIf]="!authService.isAuthenticated()">
              <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" [routerLink]="['/signin']" routerLinkActive="router-link-active" >Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" [routerLink]="['/signup']" routerLinkActive="router-link-active" >Sign Up</a>
              </li>
            </ng-template>
            <li class="nav-item"><a class="nav-link" style="cursor: pointer;" *ngIf="authService.isAuthenticated()" (click)="authService.logout()">Logout</a></li>
              <li class="nav-item" *ngIf="authService.isAuthenticated()">
                <div appDropdown class="dropdown">
                    <a class="nav-link dropdown-toggle" style="cursor: pointer;" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Manage
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save Data</a>
                      <a class="dropdown-item" style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a>

                    </div>
                  </div>
                
              </li>

            </ul>
            

            
   
    </div>


</nav>

